.footer {
  width: 100%;
  margin-top: 8rem;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;

  background-color: #000;
  color: white;
  padding: 5rem 0;
  @include respond(tab-land) {
    padding: 3rem 2rem;
  }
  @include respond(phone) {
    grid-auto-flow: row;
  }
  // children
  &__links {
    text-align: center;
  }
  & h3 {
    margin-bottom: 2rem;
  }
  & a:hover {
    color: $color;
  }
  // form
  & form {
    display: grid;
    width: 450px;
    @include respond(tab-port) {
      width: 350px;
    }
    @include respond(phone) {
      width: 100%;
      grid-row: 1;
      margin-bottom: 2rem;
    }
  }
  & input,
  textarea,
  button {
    border: 1px solid #fff;
    background-color: #000;
    color: white;
    padding: 1rem;
  }
  & textarea {
    border-top: none;
    border-bottom: none;
    height: 125px;
    resize: none;
  }
  & button {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}
