@import url("https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap");

body {
  font-family: $font-main;
}

h1 {
  color: $base-color;
  font-size: 10rem;
  font-family: $font-dec;
}

h2 {
  font-family: $font-dec;
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
  border-bottom: 3px solid $base-color;
  margin-bottom: 2rem;
  justify-self: center;
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
}
