.about {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
  padding: 0 12%;
  @media only screen and (max-width: 1500px) {
    padding: 0 6% 0 6%;
  }

  &__header {
    grid-column: span 2;
    border-bottom: 5px solid $base-color;
    margin-bottom: 3.5rem;
  }
  &__img {
    width: 650px;
    margin-right: 5rem;
    @media only screen and (max-width: 1400px) {
      width: 550px;
    }
  }
  &__p {
    text-align: justify;
  }
  &__btn-link {
    color: black;
  }
  &__btns {
    grid-column: span 2;
    display: flex;
    margin-top: 6rem;
  }
}
